body {
  background-color: #000000;
  height: 100%;
  width: 100%;
}

.jumbotron {
  background-color: #000000;
}

.container {
  display: block;
  color: #eee;
  height: 100%;
  position: relative;
  width: 100%;
}

#phone-preview {
  width: 100%;
}

#kanye-photo {
  width: 100%;
}

.main-content ul li {
  font-size: 20px;
}

div.input-group {
  float: left;
  margin-right: 5px;
}

.phone-skin {
  position: relative;
  background: url('/img/nexus_5.png') 0 0 no-repeat;
  background-size: cover;
  width: 300px;
  height: 590px;
}

.phone-skin-screen {
  position: relative;
  background: white;
  height: 490px;
  width: 272px;
  left: 15px;
  top: 51px;
}

.chats {
  overflow: auto;
  height: 450px;
  width: 270px;
  position: absolute;
  color: #26265F;
}

.chats .message {
  padding: 8px;
  font-size: 12px;
  margin-bottom: 8px;
}

.phone-skin-screen input {
  position: absolute;
  bottom: 0px;
  right: 0px;
}

.phone-skin-screen .form-control {
  left: 0px;
  width: 200px;
}
